body {
  font-family: "Heebo";
  text-align: right;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo";

}
h1{
  font-size: 50px;
  line-height: 64px;
  color:#222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color:#222;
}
h4 {
  font-size: 20px;
  color:#222;
}
h6 {
  font-weight: 700;
  font-size:12px;
}
p{
  font-size: 16px;
  color:#465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
img.logo-website{
  width: 150px;
  height: 120px;
}
/* -------------------------------------------------Nav Bar: */
#header {
  padding: 0% 15% 0%;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  z-index: 999;
}


#title {
  font-weight: 900;
  font-size: 1.7rem;

}

.first-letter {
  color: #D800A6;
}
.nav-bar-catag {
  padding-right: 3.5rem;
  }
.nav-bar-catag li{
  list-style: none;
  position: relative;
}
.nav-bar-catag li a{
  text-decoration: none;
  color: #1a1a1a;
  transition: 0.3s ease;
}
.nav-bar-catag li a:hover{
  color: #D800A6;
}
.nav-bar-catag li a.active::after,
.nav-bar-catag li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #D800A6;
  position: absolute;
  bottom: 4px;
  left: 9px;
}
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  text-align: left;
  height: 3px;
  width: 30px;
  background: #FF0000;
  border-radius: 1px;
  opacity: 1;
  right:0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0;
}

/* when navigation is clicked */
.navbar-toggler .top-bar {
  margin-top: 0;
  transform: rotate(135deg);
}
.navbar-toggler .middle-bar{
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar{
  margin-top: 0;
  transform: rotate(-135deg);
}

/* State when the navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
margin-top: -10px;   /* asdasd */
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  margin-top: 10px;
  transform: rotate(0deg);
}
/* Color of three lines */
.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(263deg ,rgba(255,255,255,255)0%,rgba(255,255,255,255) 100%);
}
/* -------------------------------------------------------- */
/* -------------------------------------------------------- Hero Section*/
#hero {
  text-align: right;
  background-image: url("images/stylish-woman.png");
  height: 110vh;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top 40px right 200px;
  background-color: #E3E6F3;
  padding: 0 80px;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#hero h4{
  padding-bottom: 0;
}
#hero h1{
  color: #D800A6;
  padding: 5px;
  margin-bottom: 0;
  padding-right: 0;
}
#hero h2{
  margin-bottom: 0;
}
#hero p {
  margin-top: 0;
}

#hero button{
  color: #000;
  background-color: #E3E6F3;
  width: 6rem;;
}
#hero button .icon-to-store{
  padding-right: 9px;
}
#hero .btn-outline-dark:hover{
  color: #E3E6F3;
  background-color: #D800A6;
  border:0;
}
/* Feature Section */
.row{
  justify-content: center;
}
.features-box {
  border: 1px solid #cce7d0;
  width: 13%;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
  justify-content: space-between;
  text-align: center;
  margin:95px 20px;
  margin-bottom: 50px;
}
.features-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.3);
}
.feature-parg {
  margin-top: 17px;
  margin-bottom: 13px;
  color: #088178;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
}
.box1 {
  background-color: #fddde4;
}
.box2 {
  background-color: #cdebbc;
}
.box3 {
  background-color: #d1e8f2;
}
.box4 {
  background-color: #cdd4f8;
}
.box5 {
  background-color: #f6dbf6;
}
.box6 {
  background-color: #fff2e5;
}
/* Product 1 */
#product1 .pro-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;

}
#product1 .pro{
  width: 23%;
  min-width:250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor:pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;

}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
}
#product1 .pro img {
  width: 100%;
  height: 70%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 3px 0;

}
#product1 .pro .des .top-des {
  color :#606063;
  font-size: 12px;
}
#product1 .pro .des h5{
  margin-bottom: 0;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i{
  font-size: 12px;
  color: rgb(243,181,25);
}
#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color:#088178;
}
#product1 .pro .cart {
  width:40px;
  height: 40px;
  line-height: 40px;
  background-color: #e8f6ea;
  border-radius: 50px;
  color:#088178;
  border: 1px solid  #cce7d0;
  position: absolute;
  bottom:25px;
  right:10px;
}
#product1.section-p1 h2,#product1.section-p1 p {
  text-align: center;
}
/* Banner*/
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("images/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4{
  color: #fff;
  font-size: 16px;
}
#banner h2{
  color: #fff;
  font-size:  30px;
  padding: 10px 0;
}
#banner h2 span{
  color: #D800A6;
}
#banner button{
  font-size: 15px;
  font-weight: 600;
  padding:10px 20px;
  background-color: #fff;
  border-radius: 7px;
  color: #000;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
#banner button:hover{
  background-color: #D800A6;
  color: #fff;
}
/*Second Banner*/
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner h4 {
  color:#fff;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
}
#sm-banner h2 {
  color:#fff;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 0;
}
#sm-banner span {
  color:#fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner button{
  font-size: 15px;
  padding:10px 20px;
  background: none;
  background-color: transparent;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s ease;
}
#sm-banner button:hover{
  background-color: #D800A6;
  color: #fff;
}
#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("images/banner/b17.jpg");
  width: 49%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
#sm-banner .banner-box .word-banner{
  align-items: flex-start;
  text-align: right;
  position: absolute;
  left: 0;
  margin-left: 15px;

}
#sm-banner .banner-box .word-banner span {
  display: block;
  width: 100%;
}
#sm-banner .banner-box2{
    background-image: url("images/banner/b10.jpg");
}
#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/banner/b7.jpg");
  width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
#banner3 .banner-box2{
  background-image: url("images/banner/b4.jpg");
}
#banner3 .banner-box3{
  background-image: url("images/banner/b18.jpg");
}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 30px;
  text-shadow: 0.9px 0.9px 0 #ec544e;
}
#banner3 h3 {
  color: #ec544e;
  font-weight: 700;
  font-size: 20px;
  text-shadow: 1px 1px 0 #000;
}
/*Newsletter Banner*/
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("images/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color:#041e42;
}
#newsletter h4{
  font-size:30px;
  font-weight: 700;
  color:#fff;
}
#newsletter p{
  font-size:24px;
  font-weight: 600;
  color:#818ea0;
}
#newsletter p span{
  color : #D800A6;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.2em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#newsletter button{
  font-size: 15px;
  padding:10px 20px;
  border: none;
  background-color: #088178;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: 0.2s ease;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
/* Bottom Section */
.install .button-download1{
  font-size: 13px;
  padding:10px 20px;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s ease;
}
.install .button-download2{
  font-size: 13px;
  padding:10px 20px;
  border-radius: 7px;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
  outline: none;
  transition: 0.2s ease;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo-website {
  margin-bottom: 20px;
}
footer h4{
  font-size:16px;
  padding-bottom: 10px;
}
footer .follow h4{
  margin-bottom: 0;
}
footer p{
  font-size:16px;
  margin: 0 0 8px 0;
}
footer a{
  font-size:14px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .follow{
  margin-top: 20px;
    padding-bottom: 0;
}
footer .follow i{
  color:#465b52;
  padding-right: 4px;
  cursor: pointer;
}
.follow .copyright p{
  width: 100%;
  margin-top: 10px;
  font-size:12px;
  text-align: center;
  justify-content: center;
  position: absolute;
}

/* Media Query */
@media (max-width:999px) {

  .nav-bar-catag li a.active::after, .nav-bar-catag li a:hover::after {
    width: 0;
  }

  .navbar-nav {
    font-size: 30px;
}

  #hero{
    height: 900px;
    display: flex;
    background-size: 1700px;
    background-position: -550px 200px;
  }
  #header {
    padding: 0% 5% 0%;
  }
  .navbar-toggler.collapsed .toggler-icon {
    background: linear-gradient(263deg ,rgba(216, 0, 166,255)0%,rgba(216, 0, 166,255) 100%);
  }
  .features-box {
      border: 1px solid #cce7d0;
      width: 18%;
      box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
      justify-content: space-between;
      text-align: center;
      margin: 30px 70px;
  }
  #banner {
    width: 100%;
    height: 15vh;
  }
 #sm-banner .banner-box {
    height: 20vh;
}
#banner3 .banner-box {
    height: 15vh;
}
#product1 .pro-container {
    font-size: 20px;
}
#product1 .pro .des h5 {
    font-size: 20px;
}
#product1 .pro .des h4 {
    font-size: 17px;
}
#title {
font-size: 2.7rem;
}
#hero h4 {
font-size: 25px;
}
#hero p {
font-size: 25px;
}
#hero button {
font-size: 30px;
width: 150px;
}
#product1.section-p1 h2 {
font-size: 50px;
}
#product1.section-p1 p {
    font-size: 30px;
}
#product1 .pro-container {
    font-size: 24px;
}
#product1 .pro .des h5 {
    font-size: 25px;
}
#product1 .pro .des h4 {
    font-size: 28px;
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #sm-banner .banner-box {
        height: 15vh;
    }
    .navbar-nav {
      font-size: 30px;
    }
    #title {
    font-size: 2.7rem;
    }
    #hero h4 {
    font-size: 25px;
  }
    #hero p {
    font-size: 25px;
    }
    #hero button {
    font-size: 30px;
    width: 150px;
    }
    #product1.section-p1 h2 {
    font-size: 50px;
  }
  #product1.section-p1 p {
        font-size: 30px;
}
    #product1 .pro-container {
        font-size: 24px;
    }
    #product1 .pro .des h5 {
        font-size: 25px;
    }
    #product1 .pro .des h4 {
        font-size: 28px;
    }
}
